html {
  height: 600px;
}

.app {
  width: 400px;
  height: 600px;
  overflow: scroll;
  text-align: center;
  background-color: #3a3a3a;
  color: #d6d6d6;
}

button {
  background: #636363;
  border: none;
  border-bottom: 2px solid #3a3a3a;
  color: #fff;
  font-size: medium;
  margin: 2px;
  width: 120px;
  padding: 8px 10px;
}

button:hover {
  border-bottom: solid 2px paleturquoise;
}

input {
  padding: 8px 10px;
  border: none;
  border-bottom: 2px solid #3a3a3a;
  background: #ffffff1a;
  color: antiquewhite;
}

input:hover {
  border-bottom: solid 2px paleturquoise;
}

.form-add-video {
  background-color: #434343;
  border-left: solid 8px paleturquoise;
  padding: 20px 15px;
}

.form-two-column {
  display: grid;
  grid-template-columns: 20% 75%;
  grid-gap: 4px 5%;
}

.form-two-column > label {
  justify-self: right;
  align-self: center;
}

.action-buttons {
  display: flex;
}

.playlist-item:nth-child(n) {
  background-color: #3e3e3e;
}

.playlist-item:nth-child(2n) {
  background-color: #333333;
}

.playlist-item {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 0 20px;
  align-self: center;
  justify-self: start;
  border-left: solid 8px #616161;
  padding: 4px 0 4px 15px;
}

.playlist-item-details {
  align-self: center;
  justify-self: start;
}

.playlist-item.active-video {
  border-left: 8px solid paleturquoise;
  background-color: #305454;
  color: white;
}

.playlist-item.inactive-video {
  border-left: solid 8px #616161;
}

.component-add-video > .add-video-button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}